@font-face {
    font-family: 'Malygin';
    src: url('../fonts/SFProText-Medium.ttf') format("truetype");;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MalyginRegular';
    src: url('../fonts/SFProText-Regular.ttf') format("truetype");;
    font-weight: normal;
    font-style: normal;
}